<!DOCTYPE html>
<html>
  <head>
    <title>PG Ajax 1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "shared/cdn_assets" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
          <% if notice.present? %>
            <%= render "shared/flash", message: notice, css_class: "success" %>
          <% end %>

          <% if alert.present? %>
            <%= render "shared/flash", message: alert, css_class: "danger" %>
          <% end %>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>


